.App {
  background-color: #b9cfec;
  text-align: center;
  width: auto;
  height: auto;
}

.Navbar {
  border: #61dafb;
  border-width: thick;
}
.power-test {
  background-color: #d0d9e9;
  border: #d0d9e9;
  border-width: thick;
}

.select-test {
  width: auto;
  max-width: 200px;
}

.power-test-input {
  /* width: 100%; */
  align-content: center;
  max-width: 100px;
  border: #61dafb;
}

.power-test-form {
  max-width: 250px;
  background-color: aliceblue;
  position: relative;
  border: #61dafb;
}

.power-chart {
  align-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #62666e;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(236, 238, 240);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-content {
  height: 800px;
  width: 1200px;
}

.modal-90w{
  width: 100%;
}

.custom-modal-style {
  width: 897px;
  height: 802px;
  }